body {
  font-family: 'Open Sans', sans-serif !important;
}

.text-slanted {
  font-family: 'Courgette', cursive;
}

.text-orange {
  color: #f15025;
}

.letter-spacing {
  letter-spacing: 0.5rem;
}

.header-hero,
.default-hero {
  min-height: calc(100vh - 56px);
  -webkit-min-height: calc(100vh - 56px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('./images/homeBcg.jpeg') center/cover no-repeat;
}

.default-hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/defaultBcg.jpeg') center/cover no-repeat;

}